#data Types and structure question#

1.  What are data structures, and why are they important
- data structure is a way of organising data,so that it can be acessed and manipulated easily amd efficiently.
 - various types of data structure include int,float,boolean,string,list,etc.
 - They are important because we can store any  data inside these.
2.  Explain the difference between mutable and immutable data types with examples
- Mutable data types or variable  are those which can be changed afterwards,for example when we create a list we can change the content of list afterwards also.
 - Immutable data types or variables are those which cannot be changed once created,for ex when we create a tupple, we cannot change the content of tuple,
3.   What are the main differences between lists and tuples in Python
- Lists,are muttable data types,that is once we create a list,we can change the contents of list.
 - Tuple,are immutable data type,that is once we create a tuple,we cannot change the contents of tuple

In [2]:
#list
list1=[1,2,3,4,5]
print(list1)
list1.append(6)
print(list1)

[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5, 6]

In [3]:
#tuple
tuple1=(1,2,3,4,5)
print(tuple1)
tuple1.append(6)
print(tuple1)

(1, 2, 3, 4, 5)

AttributeError: 'tuple' object has no attribute 'append'

4.Describe how dictionaries store data
- it stores the data in  the form of key-value pair.
ex: {"key":"value"}
5.  Why might you use a set instead of a list in Python
- set and lists are moth immutable but we store values in sets when we want to store unique values.i.e no two valuees can be same, different values are stored in sets.and in list we can store same values also.

#set
set1={1,2,3,1,2}
print(set1)

6. What is a string in Python, and how is it different from a list
- string is a sequence of character,in string we can only store the string data types.
 - List is a ordered collection of items,in which we store any data type like integer,float,string

In [6]:
#string
string1=["hello","wolrd"]
print(string1)
#list
list1=[1,2,3,4,5]
print(list1)

['hello', 'wolrd']
[1, 2, 3, 4, 5]

7.  How do tuples ensure data integrity in Python
- tuples are immutable,that is in tuple we cannot change its content,afterward, so it is used at places where we want data to not be manipulated,so it helps in data integrity.
8.  What is a hash table, and how does it relate to dictionaries in Python
- A hash table is a data structure that uses a hash function to map keys to their corresponding values.similar to dictionaries it also helps in assigning key-value pair.

In [8]:
#hash table
hashtable = {}
hashtable["key"]=["value"]
print(hashtable)

{'key': ['value']}

9. Can lists contain different data types in Python
-  yes,list can contain different data types.
ex: list1=[1,2,3,4,5,"hello",2.3]
10.  Explain why strings are immutable in Python
- strings are immutable,because once created they cannot be changed.

In [9]:
# strings
string1="hello world"
print(string1)
string1[0]="H"
print(string1)

hello world

TypeError: 'str' object does not support item assignment

11. What advantages do dictionaries offer over lists for certain tasks
- for easy searcing of any value,dictionaries are prefered,suppose we want to search a value in dictionaries,so we can directly acsess it by it key.

In [10]:
#dictionary
dictionary1={"name":"ram"}
print(dictionary1["name"])

ram

12.  Describe a scenario where using a tuple would be preferable over a list
- suppose you are creating a report card of a student,and you have created a list of marks.so anyone can manipulate that list of marks,
So in order to protect the data,tuples are ideal,hence when you create a tuple of marks,no one can access it.
13. How do sets handle duplicate values in Python
- set is an unique collection of elements,that is store only unique values.
even when you add same elements in set it will return it uniqe.

In [11]:
#set
set1={1,2,3,1,2}
print(set1)

{1, 2, 3}

14.  How does the “in” keyword work differently for lists and dictionaries.
- for list, the in keyword checks if a given value exists as an element of the list.
 - For dictionaries, the in keyword checks only for the presence of a key, not a value. If you want to check for a value, you need to use the values() method explicitly.
  - ex:

In [12]:
# in list
list1=[1,2,3,4,5]
print(1 in list1)
# in dictionary
dictionary1={"name":"ram"}
print("name" in dictionary1)

True
True

15. Can you modify the elements of a tuple? Explain why or why not
- No we cannot modify elemnts of tuple. beacuse tuples are immutable that is they cannot be changed once created.
16. What is a nested dictionary, and give an example of its use case
- A nested dictionary i is a dictionary inside another dictionary. This allows you to store complex data structures in a single dictionary

In [16]:
#ex.
nested_dict = {
    "1st outer_key": {"inner_key": "inner_value"},
    "2nd outer_key": {"inner_key": "inner_value"}
}
print(nested_dict)

{'1st outer_key': {'inner_key': 'inner_value'}, '2nd outer_key': {'inner_key': 'inner_value'}}

18. In what situations are lists preferred over dictionaries
- list is an ordered collection of elements,hence we can access the elements of list by its index,hence it is perfect in loops when we perform iterations over elemnts.
19. Why are dictionaries considered unordered, and how does that affect data retrieval
- Dictionaries  are often referred to as unordered collections because they do not guarantee any specific order of their elements based on insertion or key values.
 -  so Unlike lists or tuples, dictionaries do not allow access by index. Instead, you retrieve values using their associated keys.

In [17]:
# dictionary>> retrieving value
dictionary1={"name":"ram"}
print(dictionary1["name"])

ram

20. Explain the difference between a list and a dictionary in terms of data retrieval.
- list is an ordered collection of elements,so inn list we can access elements directly using their specific index.
- dictionary is an unordered collecction of elements, unlike list we cannot access elements using their index,so in dictionary data is retrieved using the specific key of a value.

In [18]:
#list
list1=[1,2,3,4,5]
print(list1[0])
#dictionary
dictionary1={"name":"ram"}
print(dictionary1["name"])

1
ram

##practical question

In [19]:
#1.  Write a code to create a string with your name and print it
string=["Nandini"]
print(string)

['Nandini']

In [22]:
#2.  Write a code to find the length of the string "Hello World"
string="Hello World"
print(len(string))

11

In [21]:
#3. Write a code to slice the first 3 characters from the string "Python Programming"
string="Python Programming"
print(string[0:3])

Pyt

In [23]:
#4.  Write a code to convert the string "hello" to uppercase
string="hello"
print(string.upper())

HELLO

In [24]:
#5. Write a code to replace the word "apple" with "orange" in the string "I like apple"
string="I like apple"
print(string.replace("apple","orange"))

I like orange

In [25]:
#6. Write a code to create a list with numbers 1 to 5 and print it
list1=[1,2,3,4,5]
print(list1)

[1, 2, 3, 4, 5]

In [26]:
#7 Write a code to append the number 10 to the list [1, 2, 3, 4]
list1=[1,2,3,4]
list1.append(10)
print(list1)

[1, 2, 3, 4, 10]

In [27]:
#8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]
list1=[1,2,3,4,5]
list1.remove(3)
print(list1)

[1, 2, 4, 5]

In [28]:
#9  Write a code to access the second element in the list ['a', 'b', 'c', 'd']
list1=['a', 'b', 'c', 'd']
print(list1[1])

b

In [29]:
#10. Write a code to reverse the list [10, 20, 30, 40, 50].
list1=[10, 20, 30, 40, 50]
print(list1[::-1])

[50, 40, 30, 20, 10]

In [30]:
#11. Write a code to create a tuple with the elements 100, 200, 300 and print it
tuple1=(100,200,300)
print(tuple1)

(100, 200, 300)

In [32]:
#12. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').
tuple1=('red', 'green', 'blue', 'yellow')
print(tuple1[1:5])

('green', 'blue', 'yellow')

In [33]:
# 13.Write a code to find the minimum number in the tuple (10, 20, 5, 15).
tuple1=(10, 20, 5, 15)
print(min(tuple1))

5

In [35]:
# 14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').
tuple1=("dog","cat","rabbit")
print(tuple1.index("cat"))

1

In [36]:
# 15. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it
tuple1=("apple","banana","kiwi")
print("kiwi" in tuple1)

True

In [37]:
#16 Write a code to create a set with the elements 'a', 'b', 'c' and print it.
set1={"a","b","c"}
print(set1)

{'b', 'c', 'a'}

In [38]:
#17 Write a code to clear all elements from the set {1, 2, 3, 4, 5}.
set1={1,2,3,4,5}
set1.clear()
print(set1)

set()

In [39]:
#18  18. Write a code to remove the element 4 from the set {1, 2, 3, 4}.
set1={1,2,3,4}
set1.remove(4)
print(set1)

{1, 2, 3}

In [40]:
#19.Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}
set1={1,2,3}
set2={3,4,5}
set1 = set1.union(set2)
print(set1)

{1, 2, 3, 4, 5}

In [41]:
#  20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}
set1={1,2,3}
set2={2,3,4}
set1 = set1.intersection(set2)
print(set1)

{2, 3}

In [42]:
# 21 Write a code to create a dictionary with the keys "name", "age", and "city", and print it.
dictionary1={"name":"ram","age":20,"city":"delhi"}
print(dictionary1)

{'name': 'ram', 'age': 20, 'city': 'delhi'}

In [46]:
# 22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.
dictionary1={"name":"John","age":20,"city":"delhi"}
dictionary1["country"]="USA"
print(dictionary1)

{'name': 'John', 'age': 20, 'city': 'delhi', 'country': 'USA'}

In [47]:
#23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}
dictionary1={"name":"Alice","age":20,"city":"delhi"}
print(dictionary1["name"])

Alice

In [48]:
# 24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}
dictionary1={"name":"Bob","age":22,"city":"New York"}
dictionary1.pop("age")
print(dictionary1)

{'name': 'Bob', 'city': 'New York'}

In [49]:
# 25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.
dictionary1={"name":"Alice","city":"Paris"}
print("city" in dictionary1)

True

In [50]:
#  26. Write a code to create a list, a tuple, and a dictionary, and print them all.
list1=[1,2,3,4,5]
print(list1)
tuple1=(1,2,3,4,5)
print(tuple1)
dictionary1={"name":"ram"}
print(dictionary1)

[1, 2, 3, 4, 5]
(1, 2, 3, 4, 5)
{'name': 'ram'}

In [55]:
#27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.(replaced)
import random
list1=random.sample(range(1,101),5)
list1.sort()
print(list1)

[29, 37, 63, 68, 86]

In [56]:
#28.Write a code to create a list with strings and print the element at the third index
list1=["apple","banana","kiwi"]
print(list1[2])

kiwi

In [57]:
#29 Write a code to combine two dictionaries into one and print the result.
dictionary1={"name":"ram"}
dictionary2={"age":20}
dictionary1.update(dictionary2)
print(dictionary1)

{'name': 'ram', 'age': 20}

In [58]:
#30 Write a code to convert a list of strings into a set.
list1=["apple","banana","kiwi"]
set1=set(list1)
print(set1)

{'kiwi', 'banana', 'apple'}